<nav>
  {{#link-to "home"}}
    Home
  {{/link-to}}
  {{#link-to "search"}}
    Search
  {{/link-to}}
  {{#link-to "index"}}
    List
  {{/link-to}}
  {{#link-to "create"}}
    Add
  {{/link-to}}
</nav>

{{outlet}}
