<ul>
  {{#each model as |restaurant|}}
    <li>
      <DisplayRestaurant @restaurant = {{restaurant}} data-test="restaurant" />
    </li>
    <AsyncButton
      data-test="restaurant-delete"
      name="saveButton"
      @defaultText="Delete"
      @onClick={{action "deleteRestaurant" restaurant}}
    />

    {{#link-to "edit" restaurant.id}}
      Edit
    {{/link-to}}

  {{/each}}
</ul>

{{outlet}}
