<ul>
  <li data-test="restaurant-name">
    {{model.name}}
  </li>
  <li data-test="restaurant-price">
    <DisplayPrice
      @price={{model.price}}
    />
  </li>
  <li data-test="restaurant-type">
    {{model.type}}
  </li>
  <button>Not interested</button>

</ul>
